.destinations {
  width: 312px;
  margin: 0 auto;
}

.destinations.blog {
  margin-bottom: 88px;
}

.destination-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.destinations .img-item {
  width: 312px;
  height: 360px;
}

.destinations .img-item.tokyo {
  background: url(../img/index/tokyo-mobile.png) no-repeat center;
  background-size: cover;
}

.destinations .img-item.osaka {
  background: url(../img/index/osaka-mobile.png) no-repeat center;
  background-size: cover;
  margin-top: 40px;
}

.destinations .img-item.hiroshima {
  background: url(../img/blog-page/hiroshima-mobile.jpg) no-repeat center;
  background-size: cover;
  margin-top: 40px;
}

.destinations .img-item.kyoto {
  background: url(../img/blog-page/kyoto-mobile.png) no-repeat center;
  background-size: cover;
  margin-top: 40px;
}

.destinations .item p {
  margin-bottom: 24px;
}

.destinations .item a {
  width: 312px;
}

@media screen and (min-width: 768px) {
  .destinations {
    width: 648px;
  }

  .destinations.blog {
    margin-bottom: 104px;
  }

  .destinations .img-item {
    width: 648px;
    height: 452px;
  }

  .destinations .img-item.tokyo {
    background: url(../img/index/tokyo-tablet-desktop.jpg) no-repeat center;
    background-size: cover;
  }

  .destinations .img-item.osaka {
    background: url(../img/index/osaka-tablet-desktop.jpg) no-repeat center;
    background-size: cover;
  }

  .destinations .item a {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .destinations {
    width: 900px;
  }

  .destinations .img-item {
    width: 100%;
    height: 452px;
  }
}

@media screen and (min-width: 1440px) {
  .destinations {
    width: 1200px;
  }

  .destination-items {
    flex-direction: row;
    align-items: flex-start;
  }

  .destinations .item {
    width: calc(50% - 12px);
  }

  .destinations .img-item.osaka {
    margin-top: 0;
  }

  .destinations.blog .img-item.osaka {
    height: 300px;
  }

  .destinations.blog .img-item.hiroshima {
    margin-top: 0;
    height: 300px;
  }

  .destinations.blog .img-item.kyoto {
    margin-top: 0;
    height: 300px;
  }
}
