/* =====================================================
   HERO – GLOBAIS
===================================================== */

.hero-img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  padding: 65px 24px;
}

.hero-content h1 {
  font-size: 48px;
  color: var(--text-secondary-color);
  font-weight: var(--title-weight);
}

.hero-content p {
  font-size: 20px;
  color: var(--text-secondary-color);
  font-weight: var(--text-weight);
  line-height: 32px;
}

.hero-content hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px 0 32px;
}

/* =====================================================
   HERO – HOME
===================================================== */

.hero .hero-img,
.bottom-hero .hero-img {
  height: 400px;
}

.hero .hero-img {
  background-image: url(../img/index/hero-mobile.png);
}

.bottom-hero .hero-img {
  background-image: url(../img/index/footer-mobile.png);
}

.hero h2 {
  padding: 88px 24px;
  margin: 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

/* =====================================================
   HERO – PÁGINAS INTERNAS
===================================================== */

.destinations-packages.hero,
.blogspot .hero,
.contact .hero {
  margin-bottom: 88px;
}

/* DESTINATIONS */
.destinations-packages .hero-img {
  height: 460px;
  background-image: url(../img/destinations-page/japao-hero-mobile.png);
}

.destinations-packages.bottom-hero .hero-img {
  height: 400px;
  background-image: url(../img/destinations-page/japao-footer-mobile.png);
}

/* BLOG */
.blogspot .hero-img {
  height: 460px;
  background-image: url(../img/blog-page/hero-japao-mobile.png);
}

/* CONTACT */
.contact .hero-img {
  height: 460px;
  background-image: url(../img/contact/contact-hero.png);
}

.contact.bottom-hero .hero-img {
  height: 400px;
  background-image: url(../img/contact/contact-footer.png);
}

/* =====================================================
   BREAKPOINT – TABLET
===================================================== */

@media screen and (min-width: 768px) {
  .hero .hero-img {
    height: 620px;
    background-image: url(../img/index/hero-tablet.png);
  }

  .bottom-hero .hero-img {
    height: 400px;
    background-image: url(../img/index/footer-tablet.png);
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }

  .hero-content {
    padding: 210px 70px 107px;
  }

  .hero-content p {
    font-size: 32px;
    line-height: 48px;
  }

  /* DESTINATIONS */
  .destinations-packages .hero-img {
    height: 620px;
    background-image: url(../img/destinations-page/japao-hero-tablet.png);
  }

  .destinations-packages.bottom-hero .hero-img {
    height: 400px;
    background-image: url(../img/destinations-page/japao-footer-tablet.png);
  }

  /* BLOG */
  .blogspot .hero-img {
    height: 620px;
    background-image: url(../img/blog-page/hero-japao-tablet.png);
  }

  /* CONTACT */
  .contact .hero-img {
    height: 620px;
    background-image: url(../img/contact/contact-hero-tablet.png);
  }

  .contact.bottom-hero .hero-img {
    height: 600px;
    background-image: url(../img/contact/contact-footer-tablet.png);
  }
}

/* =====================================================
   BREAKPOINT – DESKTOP
===================================================== */

@media screen and (min-width: 1024px) {
  .hero .hero-img {
    background-image: url(../img/index/hero-desktop.png);
  }

  .bottom-hero .hero-img {
    height: 600px;
    background-image: url(../img/index/footer-desktop.png);
  }

  .hero h2 {
    padding: 88px 120px;
  }

  .hero-content {
    padding: 150px 120px 170px;
    margin: 0 auto;
  }

  .hero-content p {
    width: 570px;
  }

  /* DESTINATIONS */
  .destinations-packages .hero-img {
    background-image: url(../img/destinations-page/japao-hero-desktop.png);
  }

  .destinations-packages.bottom-hero .hero-img {
    height: 600px;
    background-image: url(../img/destinations-page/japao-footer-desktop.png);
  }

  /* BLOG */
  .blogspot .hero-img {
    background-image: url(../img/blog-page/hero-japao-desk.png);
  }

  /* CONTACT */
  .contact .hero-img {
    background-image: url(../img/contact/contact-hero-desk.png);
  }

  .contact.bottom-hero .hero-img {
    background-image: url(../img/contact/contact-footer-desk.png);
  }
}

/* =====================================================
   BREAKPOINT – ULTRA WIDE
===================================================== */

@media screen and (min-width: 1440px) {
  .hero-content {
    width: 1200px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
