.informations {
  width: 312px;
  margin: 0 auto;
}

.informations-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.informations .informations-items .content-title {
  margin-top: 32px;
  margin-bottom: 32px;
}

.informations .img-item {
  width: 312px;
  height: 360px;
}

.informations .img-item.market {
  background: url(../img/blog-page/tokyo-market.jpg) no-repeat center;
  background-size: cover;
  margin-top: 24px;
}

.informations .img-item.tokyo-city {
  background: url(../img/index/tokyo-mobile.png) no-repeat center;
  background-size: cover;
  margin-top: 24px;
}

figcaption {
  margin-top: 8px;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .informations {
    width: 648px;
  }

  .informations-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .informations .item-market {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .informations .item-market header {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .informations .img-item.market {
    background: url(../img/blog-page/tokyo-market.jpg) no-repeat center;
    background-size: cover;
    flex-shrink: 0;
  }

  .informations .img-item.tokyo-city {
    background: url(../img/index/tokyo-tablet-desktop.jpg) no-repeat center;
    background-size: cover;
    width: 648px;
    height: 300px;
  }
}

@media screen and (min-width: 1440px) {
  .informations {
    width: 1200px;
  }

  .informations .img-item.tokyo-city {
    width: 1200px;
  }

  .informations .img-item.market {
    background: url(../img/blog-page/tokyio-market-desk.png) no-repeat center;
    background-size: cover;
    width: 588px;
    height: 360px;
  }
}
