@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --roxo-destaque: #9747FF;
    --roxo-hover: #8233E8;
    --fonte: #FFFFFF; 
    --background: #0E1014;
    --font-h1: 'Unbounded', sans-serif;
    --font-text:'Poppins', sans-serif;
    
}

html[data-theme="light"]{
    --roxo-destaque: #9747FF;
    --roxo-hover: #8233E8;
    --background: #ffffff;
    --fonte: #232323;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
}

.cabecalho {
    margin: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 22rem;
}

.botao__luz{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.botao__luz img{
    display: block;
}

.container {
    text-align: center;
    margin: 60px;
    padding: 2rem;
}

.container__conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container__titulo {
    color: var(--fonte);
    font-family: var(--font-h1);
    font-weight: 700;
    font-size: 5.50rem;
    margin: 2rem auto;
    padding: 0;
    max-width: 900px;
}

.container__titulo__destaque {
    color: var(--roxo-destaque);
}

.container__texto {
    color: var(--fonte);
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 2rem;
    margin: 2rem auto;
    max-width: 800px;
}

.container__botao {
    display: inline-block;
    color: var(--fonte);
    text-decoration: none;
    font-family: var(--font-text);
    font-weight: 600;
    font-size: 2rem;
    border: 2px solid var(--roxo-destaque);
    border-radius: 999px;
    padding: 1rem 3rem;
    background-color: var(--roxo-destaque);
    margin-top: 1em;
}

.container__botao:hover {
    background-color: var(--roxo-hover);
}

.container__imagem {
    width: auto;
    margin-top: 4em;
    background-image: url("../assets/Ellipse\ 3.png");
    background-position: center;
    background-repeat: no-repeat;
    min-width: 300px;
}

@media (max-width: 1600px){

.cabecalho {
    padding: 1rem 5rem;
    margin-top: 2rem;
}

.container__imagem {
    background-position: 0%;
}

}

@media (max-width: 770px){
.cabecalho{
    padding: 1%
}

.container__titulo{
    font-size: 2.5rem;
}

.container__texto{
    font-size: 1.25rem;
}

.container__botao {
    font-size: 1.25rem;
    padding: 0.6rem 1.25rem;
    line-height: 1;
}

.container__imagem{
    width: 30%;
    max-width: 300px;
    background-size: cover;
    background-position: 0%;
    align-items: center;
}

}

