:root {
  --roxo-destaque: #9747ff;
  --roxo-hover: #8233e8;
  --fonte: #ffffff;
  --background: #0e1014;
  --font-h1: "Unbounded", sans-serif;
  --font-text: "Poppins", sans-serif;
}

html[data-theme="light"] {
  --roxo-destaque: #9747ff;
  --roxo-hover: #8233e8;
  --background: #ffffff;
  --fonte: #232323;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
}

.cabecalho {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  display: flex;
  margin-top: 32px;
}

.botao__luz {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
